@page "/counter"
@inject IJSRuntime JSRuntime;

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@*<div id="my_cool_chart"></div>*@

@code {
    @*protected override async Task OnInitializedAsync()
    {

        Chart chart = new Chart
        {
            Type = "ColumnChart",
            Data = new List<List<object>>
            {
                new List<object> {"Mushrooms", 3 },
                new List<object> {"Onions", 1 },
                new List<object> {"Olives", 1},
                new List<object> {"Zucchini", 1},
                new List<object> {"Pepperoni", 2}
                },
            ElementId = "my_cool_chart",
            Axes = new string[][] { new string[] { "string", "Type" }, new string[] { "number", "Count" } }
        };

        await JSRuntime.InvokeVoidAsync("chart.drawChart", chart);
    }*@

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        JSRuntime.InvokeVoidAsync("consoleLog", "Current count: " + currentCount);

    }
}
