@page "/login"

<style>
    button {
        display: block;
    }
</style>

<h3>Login</h3>

<a href="/.auth/login/facebook"><button>Login With Facebook</button></a>
<a href="/.auth/login/google"><button>Login With Google</button></a>
<a href="/.auth/login/twitter"><button>Login With Twitter</button></a>
<a href="/.auth/login/github"><button>Login With GitHub</button></a>
@code {

}
